ul.breadcrumb {
	background: #A9A9A9;
	list-style: none;
	font-size: 23px;
	padding: 17px;
	font-family: Arial;
}
ul.breadcrumb li {
	display: inline-block 
}
ul.breadcrumb li + li:before {
	content: "/";
	padding-right: 10px;
}
ul.breadcrumb li a {
	text-decoration: none;
	color: #061364;
	padding: 4px;
}
ul.breadcrumb li a:hover {
	text-decoration: underline;
}
.prod-card{
	width: 800px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: white;
}
.img{
	width: 320px;
	float: left;
	overflow: hidden;
}
.img img{
	width: 100%;
}
.prod-info{
	float: left;
	padding: 20px;
}
.prod-info span{
	display: block;
	overflow: hidden;
	margin: 4px 0;
}
.desc{
	font-size: 20px;
	color: #9a9e9e;
}
.price{
	color: #2F4F4F;
	font-size: 40px;
	font-weight: 700;
}
.prod-info span a{
	display: block;
	float: left;
	padding: 2px 4px;
	margin-right: 6px;
	border: 2px solid;
	color: #2F4F4F;
	font-size: 20px;
	border-radius: 8px;
}
.addbtn{
	width: 260px;
	font-size: 24px;
	color: white;
	background: #2F4F4F;
	display: block;
	float: left;
	padding: 6px;
	text-align: center;
	margin: 8px 0;
	transition: 0.4s opacity;
}
.addbtn:hover{
	opacity: 0.7;
}
